@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1e2140;
  --bg-dark: #151932;
  --bg-light: #54587c;
  --color-one: #fa706e;
  --color-two: #6ef3f8;
  --color-three: #da81f9;

  --primary-color: var(--color-one);

  --font-one: 'Courier New', Courier, monospace;
  --font-two: 'Yellowtail', cursive;
  --font-three: 'Playfair Display', serif;

  --primary-font: var(--font-one);
}

body {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: #fff;
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.options {
  background-color: var(--bg-dark);
  padding: 5px;
  border-radius: 50px;
  display: flex;
  gap: 10px;
}

.options p {
  padding: 10px 15px;
  color: var(--bg-light);
  border-radius: 50px;
  cursor: pointer;
}

.options .active {
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: 500;
}

.settings {
  color: var(--bg-light);
  cursor: pointer;
}

.timer-wrap {
  width: 23vw;
  aspect-ratio: 1;
  background-color: var(--bg-dark);
  border-radius: 50%;
  position: relative;
  box-shadow: -10px -10px 30px -5px var(--bg-light) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-wrap::before,
.timer-wrap::after {
  position: absolute;
  content: '';
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.timer-wrap::before {
  z-index: -9;
  box-shadow: -30px -25px 200px -15px var(--bg-light);
}

.timer-wrap::after {
  z-index: -5;
  box-shadow: 40px 40px 50px -15px var(--bg-dark);
}

.timer {
  width: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  z-index: 10;
  background-color: var(--bg-dark);
  width: 90%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.content h1 {
  font-size: 60px;
}

h4 {
  letter-spacing: 8px;
}

.progress {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 11;
}

.progress svg {
  stroke: var(--primary-color);
  cursor: pointer;
}

.modal-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  left: 0;
  background-color: #151932cb;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.modal-wrap.show {
  display: flex;
  top: 0;
}

.modal {
  width: 50%;
  background-color: #fff;
  border-radius: 15px;
  color: var(--bg-dark);
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.title svg {
  cursor: pointer;
}

.title svg:hover {
  color: var(--primary-color);
}

.time {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #d3d3d3;
}

.time .list {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--bg-light);
  width: 100%;
}

input {
  border: none;
  color: var(--bg-dark);
  background-color: #eef1fa;
  font-family: var(--primary-font);
  padding: 8px;
  border-radius: 8px;
  margin-top: 5px;
  width: 100%;
}

.font,
.color {
  padding: 20px 0;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font {
  border-bottom: 1px solid #d3d3d3;
}

.font .list,
.color .list {
  display: flex;
  gap: 10px;
}

.font span {
  padding: 5px;
  border-radius: 50%;
  background-color: #eef1fa;
  cursor: pointer;
}

.font .active {
  background-color: var(--bg-dark);
  color: #fff;
}

.font .f1 {
  font-family: var(--font-one);
}

.font .f2 {
  font-family: var(--font-two);
}

.font .f3 {
  font-family: var(--font-three);
}

.color span {
  width: 30px;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color span svg {
  visibility: hidden;
}

.color .active svg {
  visibility: visible;
}

.color .c1 {
  background-color: var(--color-one);
}
.color .c2 {
  background-color: var(--color-two);
}
.color .c3 {
  background-color: var(--color-three);
}

@media (max-width: 1200px) {
  .timer-wrap {
    width: 25vw;
    min-width: 300px;
  }
}
